# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://ytdrxqerbsriigyotgtd.supabase.co
SUPABASE_URL=https://ytdrxqerbsriigyotgtd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_WGV5woyKpW4w04wirxzqrg_raLUMx8q
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl0ZHJ4cWVyYnNyaWlneW90Z3RkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzQwMjI1NiwiZXhwIjoyMDkyOTc4MjU2fQ.SK1un0EHgPVPCYfVKmXmUTLllCkiuTCaBC-xerNWFQo

# Prisma
DATABASE_URL=postgresql://postgres.ytdrxqerbsriigyotgtd:eCUJbbhg0nIMzVvQ@aws-1-eu-west-3.pooler.supabase.com:6543/postgres?pgbouncer=true
DIRECT_URL=postgresql://postgres.ytdrxqerbsriigyotgtd:eCUJbbhg0nIMzVvQ@aws-1-eu-west-3.pooler.supabase.com:6543/postgres

# Server
PORT=4000
FRONTEND_URL=http://localhost:3000

# Paymob
PAYMOB_API_KEY=ZXlKaGJHY2lPaUpJVXpVeE1pSXNJblI1Y0NJNklrcFhWQ0o5LmV5SmpiR0Z6Y3lJNklrMWxjbU5vWVc1MElpd2ljSEp2Wm1sc1pWOXdheUk2TVRFd09ESTVPQ3dpYm1GdFpTSTZJakUzTnpjME1qTXdOak11TlRNMk5ERTJJbjAuUnlmNUJiLXZrcmxXTTdsZ2d0SFgyRWFFSlZ4UGgyUU42TUMtU1pZTENtTUI5Q3p2NjNTSGtOcDNDU2lIeE5ZcW5FNkpJaEFyYWRfT0RXYUdnV3R1aVE=
PAYMOB_SECRET_KEY=egy_sk_test_3d48f65e316792ad8864dff813ffa8d1419a3918f900206e01cbb44cb876ddc6
PAYMOB_PUBLIC_KEY=egy_pk_test_ZmEgoB3C8TPLXSPbpPbVSFh6WJRB6EAf
PAYMOB_IFRAME_ID=981177
PAYMOB_INTEGRATION_ID=5404642
# Supabase Pooler connection
